<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<h1><%= @awesome_message %></h1>
<h2><%= @name %></h2>

<img src="http://static.boredpanda.com/blog/wp-content/uuuploads/cute-baby-animals/cute-baby-animals-10.jpg">
